<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Dashboard</title>
{% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/icon/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/metisMenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
    <!-- amchart css -->
    <link rel="stylesheet" href="{% static 'https://www.amcharts.com/lib/3/plugins/export/export.css' %}" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{% static 'css/typography.css' %}">
    <link rel="stylesheet" href="{% static 'css/default-css.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- modernizr css -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

{% include 'header.html' %}
  <!-- Dashboard Content -->
  <div class="container mt-5">
    <h2 class="mb-4">Welcome, {{ user.first_name }}!</h2>

    <div class="row">
       <div class="row g-4 mb-4">
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Registered Teams</h5>
            <p class="display-6 fw-bold">{{total_teams|default:0}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Players</h5>
            <p class="display-6 fw-bold">{{total_players|default:0}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Total Sixes</h5>
            <p class="display-6 fw-bold">{{sixes|default:0}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Total Fours</h5>
            <p class="display-6 fw-bold">{{fours|default:0}}</p>
          </div>
        </div>
      </div>
    </div>

<div class="col-12 mb-4">
  <div class="card" >
    <div class="card-body ">
			<div class="d-sm-flex justify-content-between align-items-center">
    <div class="trd-history-tabs">
      <ul class="nav" role="tablist">
         <li>
           <a>Recent Performances</a>
         </li>
        </ul>
      </div>
    </div>

      <div class="single-table">
        <div class="card-header bg-warning">
                Batting Performance
            </div>
        <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped  text-center ">
          <thead class="text-uppercase table-dark"> 
            <tr>
              <th>S.N</th>
              <th>player</th>
              <th>Team</th>
              <th>runs</th>
              <th>balls</th>
              <th>Fours</th>
              <th>Sixes</th>
              <th>strike rate</th>
            </tr>  
          </thead>
      <tbody>
   {% for i in batting %}
    <tr>
        <td> <b>{{forloop.counter}}</b></td>
        <td>{{i.player.firstname|capfirst}} {{i.player.lastname|capfirst}}</td>
        <td>{{i.player.team|capfirst}}</td>
        <td>{{i.runs}}</td>
        <td>{{i.balls}}</td>
        <td>{{i.fours}}</td>
        <td>{{i.sixes}}</td>
        <td>{{i.strike_rate|floatformat:2}}</td> 
        </tr>
      {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
<br>
  <div class="single-table">
        <div class="card-header bg-success">
                Balling Performance
            </div>
        <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped  text-center ">
          <thead class="text-uppercase table-dark"> 
            <tr>
              <th>S.N</th>
              <th>player</th>
              <th>Team</th>
              <th>Wickets</th>
              <th>balls</th>
              <th>runs conceded</th>
              <th>extra</th>
              <th>economy</th>
            </tr>  
          </thead>
      <tbody>
   {% for i in balling %}
    <tr>
        <td> <b>{{forloop.counter}}</b></td>
        <td>{{i.player.firstname|capfirst}} {{i.player.lastname|capfirst}}</td>
        <td>{{i.player.team|capfirst}}</td>
        <td>{{i.wickets}}</td>
        <td>{{i.balls}}</td>
        <td>{{i.runs}}</td>
        <td>{{i.extras}}</td>
        <td>{{i.economy_rate|floatformat:2}}</td> 
        </tr>
      {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

<br>
  <div class="single-table">
        <div class="card-header bg-danger">
                Fielding Performance
            </div>
        <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped  text-center ">
          <thead class="text-uppercase table-dark"> 
            <tr>
              <th>S.N</th>
              <th>player</th>
              <th>Team</th>
              <th>catches</th>
              <th>dropped</th>
              <th>catching rate</th>
              <th>runouts</th>
            </tr>  
          </thead>
      <tbody>
   {% for i in fielding %}
    <tr>
        <td> <b>{{forloop.counter}}</b></td>
        <td>{{i.player.firstname|capfirst}} {{i.player.lastname|capfirst}}</td>
        <td>{{i.player.team|capfirst}}</td>
        <td>{{i.catches}}</td>
        <td>{{i.dropped}}</td>
        <td>{{i.catching_rate|floatformat:2}}</td>
        <td>{{i.runouts}}</td>
        </tr>
      {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
<br>

  <div class="single-table">
        <div class="card-header bg-info">
                WicketKeeper Performance
            </div>
        <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped  text-center ">
          <thead class="text-uppercase table-dark"> 
            <tr>
              <th>S.N</th>
              <th>player</th>
              <th>Team</th>
              <th>catches</th>
              <th>stumppings</th>
            </tr>  
          </thead>
      <tbody>
   {% for i in wicketkeeping %}
    <tr>
        <td> <b>{{forloop.counter}}</b></td>
        <td>{{i.player.firstname|capfirst}} {{i.player.lastname|capfirst}}</td>
        <td>{{i.player.team|capfirst}}</td>
        <td>{{i.catches}}</td>
        <td>{{i.stumppings}}</td>
        </tr>
      {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

      <br> 
    </div>
   </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
